.footer{
    padding-left: 425px;
    background-color: #F6511D;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.text{
    color: white;
    padding-left: 50px;
    line-height: 2.0;
}

.footer hr{
    display: flex;
    height: 150px;
}

#imgRodape{
    padding-right: 40px;
}
