main{
    min-height: 41vh;
}

.login{
    padding: 40px;
    display: flex;
    
}

button{
    color: white;
    border: none;
    width: 180px;
    height: 58px;
    align-items: center;

    background: #F6511D;
}

.botao{
    padding-top: 10px;
    padding-left: 115px;
}