.btn-cadastro{
    display: flex;
    padding-top: 10px;
    padding-left: 55px;
    padding-bottom: 15px;
}

h1{
    padding-top: 20px;
}

.inputs{
    line-height: 30px;
}

.cadastro > main{
    margin-bottom: -0vh;
}